{% extends "ChillPersonBundle::layout.html.twig" %}

{% block title 'Error while sending document'|trans %}
    
{% set activeRouteKey = '' %}
{% set person = publication.patient %}

{% block personcontent %}
<h1>{{ 'Error while sending document'|trans }}</h1>

<p>
    {{ 'The document could not be sent to Brusafe+.'|trans }}
</p>

<p>
    {{ 'This is the error returned by Brusafe+'|trans }}
</p>

<pre>
{{ message }}
</pre>

{% endblock %}
