{% extends "ChillPersonBundle::layout.html.twig" %}

{% block title 'New Document'|trans %}
    
{% set activeRouteKey = '' %}

{% block personcontent %}
<h1>{{ 'New Document'|trans }}</h1>

{{ form_start(form) }}
{{ form_row(form.date) }}
{{ form_row(form.author) }}
{{ form_row(form.scope) }}

<h2>{{ 'Medications'|trans }}</h2>

{% if form.children.medications.children|length == 0 %}
    <p class="chill-no-data-statement">{{ 'No medications'|trans }}</p>
{% else %}
    <p class="chill-explanation">{{ 'Choose all the elements you would like to add in the document.'|trans }}</p>
{% endif %}

{{ form_widget(form.medications) }}

<ul class="record_actions">
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-create' }, 'label': 'Prepare the document' } ) }}
    </li>
</ul>

{{ form_end(form) }}

{% endblock %}
