{% extends "ChillPersonBundle::layout.html.twig" %}

{% set person = publication.patient %}

{% block title 'Show document'|trans %}
    
{% set activeRouteKey = '' %}

{% block personcontent %}
    <h1>{{ 'Show document'|trans }}</h1>
    
    <dl>
        <dt>{{ 'Publication type'|trans }}</dt>
        <dd>{{ publication.publicationType }}</dd>
        
        <dt>{{ 'date'|trans }}</dt>
        <dd>{{ publication.date|localizeddate('long', 'none') }}</dd>
            
        <dt>{{ 'Is published ?'|trans }}</dt>
        <dd>
            {%- if publication.isPublished -%}
                {{ 'Yes, on %date%'|trans( { '%date%' : publication.datePublished|localizeddate('long', 'long') } ) }}
            {%- else -%}
                {{ 'Not published yet'|trans }}
                <a href="{{ path('chill_brusafe_document_post', { 'publication_id' : publication.id } ) }}" class="sc-button btn-action">
                    {{ 'Publish on Abrumet'|trans }}
                </a>
            {%- endif -%}
        </dd>
    </dl>
        
    <a href="{{ path('chill_brusafe_document_show', { 'publication_id' : publication.id, '_format': 'xml' } ) }}" target="_blank">
        {{ 'See in full screen'|trans }}
    </a>
        
    <embed src="{{ path('chill_brusafe_document_show', { 'publication_id' : publication.id, '_format': 'xml' } ) }}" width="100%" height="400"> </embed> 
    
    {% if publication.isPublished == false %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_brusafe_document_post', { 'publication_id' : publication.id } ) }}" class="sc-button btn-action">
                {{ 'Publish on Abrumet'|trans }}
            </a>
        </li>
    </ul>
    {% endif %}
    
{% endblock %}