{% extends "ChillMainBundle::layout.html.twig" %}

{% block title 'Connect to Brusafe+ failed'|trans %}

{% block content %}
<h1>{{ 'Connect to Brusafe+ failed'|trans }}</h1>


<p>
    {{ 'The connection to brusafe+ failed with the message'|trans }}: 
    <code>{{ description }}</code>
</p>

{% endblock %}
