{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Therapeutic link error'|trans %}

{% block personcontent %}
<h1>{{ 'Therapeutic link error'|trans }}</h1>

<p>
    {{ 'Error %errorType% with message'|trans( { '%errorType%' : errorType } ) }}&nbsp;: {{ message }}
</p>

{% endblock %}
