{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Request therapeutic link'|trans %}

{% block personcontent %}
<h1>{{ 'Request therapeutic link'|trans }}</h1>

<p>
    {{ 'A therapeutic link allow you to exchange documents with brusafe+ network'|trans }}
</p>

{{ form_start(form) }}
<ul class="record_actions">
    <li>
        {{ form_row(form.submit, { 'attrs' : { 'class' : 'sc-button btn-create' }, 'label' : 'Request' } ) }}
    </li>
</ul>
{{ form_end(form) }}

{% endblock %}
