{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Confirm therapeutic link'|trans %}

{% block personcontent %}
<h1>{{ 'Confirm therapeutic link'|trans }}</h1>

<p>
    {{ 'Enter the code received by the patient through SMS or email.'|trans }}
</p>

{{ form_start(form) }}
{{ form_row(form.code) }}
<ul class="record_actions">
    <li>{{ form_row(form.submit, { 'attrs' : { 'class' : 'sc-button btn-create' } } ) }}</li>
</ul>
{{ form_end(form) }}

{% endblock %}
