{% extends "ChillPersonBundle::layout.html.twig" %}

{% set person = niss.person %}

{% block title 'Show NISS'|trans %}
    
{% set activeRouteKey = '' %}

{% block personcontent %}
<h1>{{ 'Show NISS'|trans }}</h1>

<dl>
    <dt>{{ 'NISS'|trans }}</dt>
    <dd>{{ niss.niss }}</dd>
</dl>

<ul class="record_actions">
    <li>
        <a href="{{ path('chill_brusafe_niss_form', { 'person_id': person.id } ) }}" class="sc-button bt-update">
            {{ 'Update'|trans }}
        </a>
    </li>
</ul>

{% endblock %}
