{% extends "ChillPersonBundle::layout.html.twig" %}

{% block title 'Edit NISS'|trans %}
    
{% set activeRouteKey = 'chill_brusafe_niss_show' %}

{% block personcontent %}
<h1>{{ 'Edit NISS'|trans }}</h1>

{{ form_start(form) }}

{{ form_row(form.niss) }}

<ul class="record_actions">
    <li>
        {{ form_widget(form.submit, { 'attr': { 'class' : 'sc-button btn-update' } } ) }}
    </li>
</ul>

{{ form_end(form) }}

{% endblock %}
